<span class="soc-links">
 <a href="#">
  <svg class="ic-inst" width="21" height="21">
   <use xlink:href="<%= svg %>/sprite-ic.svg#ic-inst"></use>
  </svg>
 </a>
 <a href="#">
  <svg class="ic-fb" width="21" height="21">
   <use xlink:href="<%= svg %>/sprite-ic.svg#ic-fb"></use>
  </svg>
 </a>
 <a href="#">
  <svg class="ic-tw" width="23" height="19">
   <use xlink:href="<%= svg %>/sprite-ic.svg#ic-tw"></use>
  </svg>
 </a>
 <a href="#">
  <svg class="ic-in" width="23" height="19">
   <use xlink:href="<%= svg %>/sprite-ic.svg#ic-in"></use>
  </svg>
 </a>
</span>
