<!--  -->
<section class="billing-control s5">
 <div class="fix block-info billing-control__fix">
  <div class="block-info__1 a">
   <img
    src="<%= img %>/<%= billingControl.img %>"
    class="billing-control__img"
    alt=""
    width="531"
    height="457"
   />
  </div>

  <div class="block-info__2 b">
   <h2 class="billing-control__title"><%= billingControl.title %></h2>
  </div>

  <div class="block-info__3 c">
   <p class="descr-v1 billing-control__descr"><%= billingControl.descr %></p>
  </div>

  <div class="block-info__4 d">
   <!--  -->
   <div class="billing-control__marketplace">
    <a href="#" class="btn-marketplace btn-marketplace--google-play">
     <img src="<%= svg %>/logos/google-play.svg" alt="" width="102" />
    </a>
    <a href="#" class="btn-marketplace btn-marketplace--app-store">
     <img src="<%= svg %>/logos/app-store.svg" alt="" width="102" />
    </a>
   </div>
   <!-- / -->
  </div>
 </div>
</section>
<!-- / -->
