<section class="billing-control s5">
 <div class="fix block-info billing-control__fix">
  <div class="block-info__1">
   <!-- <img
    src="<%= img %>/<%= billingControl.img %>"
    class="billing-control__img"
    alt=""
    width="531"
    height="457"
   /> -->

   <div class="billing billing-control__img">
    <img
     src="<%=svg %>/cards/card-1.svg"
     class="billing__card-1"
     alt=""
     width="227"
    />
    <img
     src="<%=svg %>/cards/card-2.svg"
     class="billing__card-2"
     alt=""
     width="335"
    />
    <img
     src="<%=svg %>/cards/card-3.svg"
     class="billing__card-3"
     alt=""
     width="324"
    />
   </div>
  </div>
  <div class="block-info__2">
   <h2 class="billing-control__title"><%= billingControl.title %></h2>
  </div>
  <div class="block-info__3">
   <p class="descr-v1 billing-control__descr"><%= billingControl.descr %></p>
  </div>
  <div class="block-info__4">
   <div class="billing-control__marketplace">
    <a
     href="#"
     class="btn-marketplace btn-marketplace--google-play"
     aria-label="Hoobank app in the google play"
    >
     <img src="<%= svg %>/logos/google-play.svg" alt="" width="102" />
    </a>
    <a
     href="#"
     class="btn-marketplace btn-marketplace--app-store"
     aria-label="Hoobank app in the app store"
    >
     <img src="<%= svg %>/logos/app-store.svg" alt="" width="102" />
    </a>
   </div>
  </div>
 </div>
</section>
