<sectoin class="s2 present">
 <div class="present__fix">
  <!--  -->
  <div class="flex w-full">
   <div class="w-[57.265%] bg-red-500/40">
    <!-- badg -->
    <div class="badg mb-[1.1rem]">
     <span class="stamp">
      <svg class="stamp__ic ic-percent" width="9.19" height="9.19">
       <use xlink:href="<%= svg %>/sprite-ic.svg#ic-percent"></use>
      </svg>

      <svg class="stamp__bg ic-shape-stamp" width="26.67" height="26.68">
       <use xlink:href="<%= svg %>/sprite-ic.svg#ic-shape-stamp"></use>
      </svg>
     </span>
     <span class="badg__txt"
      >20% <i>DISCOUNT FOR</i> 1 MONTH <si>ACCOUNT</si>
     </span>
    </div>
    <!-- /badg -->

    <h1 class="page-title-v1 mb-[3.8rem]">
     The Next <i>Generation</i> Payment Method.
    </h1>

    <p class="descr descr--present">
     Our team of experts uses a methodology to identify the credit cards most
     likely to fit your needs. We examine annual percentage rates, annual fees.
    </p>
   </div>
   <div class="w-[42.735%] bg-red-500/70"></div>
  </div>
  <!--  -->
 </div>
</sectoin>
