<section class="present">
 <div class="fix present__fix">
  <div class="present__block-1">
   <%- include("view-tmpl/components/tag.html", { tag, svg }); %>
  </div>
  <div class="present__block-2">
   <!-- prettier-ignore -->
   <%- include(
							"view-tmpl/components/btn-unique.html",
							{
								btn: {
									label: "Get<br />Started", href: "#", } } ); %>
   <h1 class="present__title">
    <%= present.title[0] %>
    <span class="text-gradient"><%= present.title[1] %></span>
    <%= present.title[2] %>
   </h1>
  </div>
  <div class="present__block-3">
   <p class="descr-v1 present__descr"><%= present.descr %></p>
  </div>
  <div class="present__block-4">
   <img
    src="<%= img%>/composition.png"
    alt=""
    width="670"
    height="674"
    class="present__img"
   />
  </div>
 </div>
</section>
