.box {
 &--start {
  @apply relative
									left-0
									top-0
									z-[10]
									flex
									min-h-[29.8rem]
									items-center
									justify-between
									rounded-[20px]
									px-[9.9rem]
									py-[7.6rem];

  @apply md:flex-col;

  @apply xl:min-h-[21rem]
									xl:pb-[5rem]
									xl:pl-[6rem]
									xl:pr-[6rem]
									xl:pt-[4rem];

  @apply lg:min-h-[19.8rem]
									lg:px-[6rem]
									lg:pb-[5rem]
									lg:pt-[4rem];

  @apply md:min-h-[32.7rem]
									md:px-[2rem]
									md:py-[4rem];

  &:after {
   @apply absolute
										inset-0
										z-[-1]
										rounded-[inherit]
										content-[""];

   background: svg-load("../../../assets/svg/gradient-start.svg");
  }
 }

 &--testimonials {
  @apply relative
									left-0
									top-0
									z-[1]
									block
									w-full
									max-w-[37.8rem]
									rounded-[20px];

  @apply px-[4rem]
									py-[5.9rem];

  @apply xl:px-[4rem]
									xl:py-[4rem];

  @apply lg:px-[2rem];

  @apply md:px-[2.5rem];

  &:after {
   @apply absolute
										inset-0
										z-[-1]
										rounded-[inherit]
										opacity-30
										content-[""];

   @apply transition-opacity
									 duration-[0.16s]
									 ease-linear
									 will-change-[opacity];

   background: svg-load("../../../assets/svg/gradient-testimonial.svg");
  }

  &:hover:after {
   @apply opacity-100;
  }
 }
}
