.list-links {
 @apply flex
								gap-x-[3.1rem];

 @apply lg:whitespace-nowrap
								lg:pt-[2.5rem];

 .active {
  @apply text-white/100;
 }
}

.main-nav {
 @apply md:relative
								md:right-0
								md:top-0
								md:translate-x-full
								md:translate-y-0;

 @apply md:fixed
								md:right-0
								md:top-0
								md:z-[100]
								md:h-full
								md:w-full
								md:max-w-[35rem]
								md:bg-black
								md:shadow-aqua-200;

 @screen md {
  transition: cubic-bezier(0.76, 0, 0.24, 1) transform 0.26s;
 }

 .list-links {
  @apply md:m-[2rem]
									md:flex-col
									md:p-[2rem];

  li {
   @apply md:rounded-[10px]
										md:border-b
										md:border-solid
										md:border-b-white/30;

   .link {
    @apply md:relative
											md:left-0
											md:top-0
											md:z-[1]
											md:block
											md:rounded-[inherit]
											md:p-[1.5rem];

    @apply md:after:absolute
											md:after:inset-0
											md:after:z-[-1]
											md:after:rounded-[inherit]
											md:after:bg-grad-aqua-r-100
											md:after:opacity-0
											md:after:content-[""];

    @apply md:hover:after:opacity-70;
   }
  }
 }
}
