.tab {
 @apply relative
								left-0
								top-0
								z-[1]
								mb-[10px]
								flex
								gap-x-[2rem]
								rounded-[20px]
								pb-[2rem]
								pl-[2rem]
								pr-[2rem]
								pt-[2rem];

 @apply md:gap-x-[1.5rem];

 /*
	@apply min-h-[12rem];
 @apply xl:min-h-[13.5rem];
 @apply lg:min-h-[10.3rem];
 @apply md:h-[14.7rem];
	*/

 @apply after:absolute
								after:bottom-0
								after:left-0
								after:right-0
								after:top-0
								after:z-[-1]
								after:block
								after:rounded-[inherit]
								after:opacity-30
								after:transition-opacity
  						after:duration-[0.16s]
								after:ease-linear
								after:will-change-[opacity]
								after:content-[""];

 &:hover:after {
  @apply opacity-100;
 }

 &:after {
  background: svg-load("../../../assets/svg/gradient-tab.svg");
 }

 &__title {
  @apply block
									pb-[1rem];

  @apply md:pb-[1.2rem];
 }
}
