:root{ --font-weight-400:400; --font-weight-500:500; --font-weight-600:600; --font-weight-700:700; --opacity-0:0; --opacity-40:0.4; --opacity-70:0.7; --opacity-100:1; --font-size-470:4.7rem; --font-size-600:6rem; --font-size-720:7.2rem; --font-size-62-5p:62.5%; --font-family-primary:Poppins, sans-serif; --line-height-710:7.1rem; --line-height-900:9.0rem; --line-height-1010:10.1rem; --max-width-sm:32rem; --max-width-md:76.8rem; --max-width-lg:99.2rem; --max-width-xl:120.2rem; --spacing-4:0.4rem; --spacing-12:1.2rem; --background-image-grad-aqua-l-100:linear-gradient(180deg, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%); --background-image-grad-aqua-r-100:radial-gradient(64.33% 64.33% at 71.16% 35.69%, rgb(222, 249, 250) 0.8877529762685299%, rgb(190, 243, 245) 17.229999601840973%, rgb(157, 237, 240) 42.03999936580658%, rgb(125, 231, 235) 55.11999726295471%, rgb(92, 225, 230) 71.5399980545044%, rgb(51, 187, 207) 100%); --background-image-grad-gray-l-100:linear-gradient(135deg, rgba(39, 39, 39, 0.5) 0%, rgba(17, 16, 29, 0.5) 100%); --background-image-grad-gray-l-200:linear-gradient(154deg, rgba(255, 255, 255, 0.2) 0%, #14101d 100%); --background-image-none:none; --z-index-0:0; --z-index-10:10;}
@font-face{
  font-family:"Poppins";
  src:url("../../assets/fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype") , url("../../assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2") , url("../../assets/fonts/Poppins/Poppins-Regular.woff") format("woff") , url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype") , url("../../assets/fonts/Poppins/Poppins-Regular.otf") format("opentype") , url("../../assets/fonts/Poppins/Poppins-Regular.f.svg#Poppins-Regular") format("svg");

  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Poppins";
  src:url("../../assets/fonts/Poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype") , url("../../assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2") , url("../../assets/fonts/Poppins/Poppins-Medium.woff") format("woff") , url("../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype") , url("../../assets/fonts/Poppins/Poppins-Medium.otf") format("opentype") , url("../../assets/fonts/Poppins/Poppins-Medium.f.svg#Poppins-Medium") format("svg");
    
  font-weight:500;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Poppins";
  src:url("../../assets/fonts/Poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype") , url("../../assets/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2") , url("../../assets/fonts/Poppins/Poppins-SemiBold.woff") format("woff") , url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype") , url("../../assets/fonts/Poppins/Poppins-SemiBold.otf") format("opentype") , url("../../assets/fonts/Poppins/Poppins-SemiBold.f.svg#Poppins-SemiBold") format("svg");

  font-weight:600;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Abel";
  src:url("../../assets/fonts/Abel/Abel-Regular.eot?#iefix") format("embedded-opentype") , url("../../assets/fonts/Abel/Abel-Regular.woff2") format("woff2") , url("../../assets/fonts/Abel/Abel-Regular.woff") format("woff") , url("../../assets/fonts/Abel/Abel-Regular.ttf") format("truetype") , url("../../assets/fonts/Abel/Abel-Regular.otf") format("opentype") , url("../../assets/fonts/Abel/Abel-Regular.f.svg#Abel-Regular") format("svg");

  font-weight:400;
  font-style:normal;
  font-display:swap;
}
.page-title{font-size:7.2rem;font-size:var(--font-size-720);font-weight:600;font-weight:var(--font-weight-600);line-height:10.1rem;line-height:var(--line-height-1010);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.page-title{margin-top:0px;margin-bottom:0px;}
.section-title{font-size:4.8rem;font-weight:700;font-weight:var(--font-weight-700);line-height:7.7rem;--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.segment-v1{font-size:4.089rem;font-weight:600;font-weight:var(--font-weight-600);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.segment-v2{font-size:2rem;line-height:2.4rem;--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.segment-v3{font-size:1.8rem;font-weight:600;font-weight:var(--font-weight-600);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.descr-v1{font-size:1.8rem;line-height:3.2rem;--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));opacity:0.7;opacity:var(--opacity-70);}
.descr-v2{font-size:1.6rem;line-height:2.4rem;--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));opacity:0.7;opacity:var(--opacity-70);}
.r-btn-label{font-size:1.8rem;font-weight:500;font-weight:var(--font-weight-500);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.btn-label{font-size:1.8rem;font-weight:500;font-weight:var(--font-weight-500);}
.link-v1{font-size:1.6rem;line-height:2.4rem;}
/* ! tailwindcss v3.4.4 | MIT License | https://tailwindcss.com */
*,
::before,
::after{
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb;
}
::before,
::after{
  --tw-content:'';
}
html,
:host{
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  -o-tab-size:4;
     tab-size:4;
  font-family:ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings:normal;
  font-variation-settings:normal;
  -webkit-tap-highlight-color:transparent;
}
body{
  margin:0;
  line-height:inherit;
}
hr{
  height:0;
  color:inherit;
  border-top-width:1px;
}
abbr:where([title]){
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size:inherit;
  font-weight:inherit;
}
a{
  color:inherit;
  text-decoration:inherit;
}
b,
strong{
  font-weight:bolder;
}
code,
kbd,
samp,
pre{
  font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings:normal;
  font-variation-settings:normal;
  font-size:1em;
}
small{
  font-size:80%;
}
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sub{
  bottom:-0.25em;
}
sup{
  top:-0.5em;
}
table{
  text-indent:0;
  border-color:inherit;
  border-collapse:collapse;
}
button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-feature-settings:inherit;
  font-variation-settings:inherit;
  font-size:100%;
  font-weight:inherit;
  line-height:inherit;
  letter-spacing:inherit;
  color:inherit;
  margin:0;
  padding:0;
}
button,
select{
  text-transform:none;
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']){
  -webkit-appearance:button;
  background-color:transparent;
  background-image:none;
}
:-moz-focusring{
  outline:auto;
}
:-moz-ui-invalid{
  box-shadow:none;
}
progress{
  vertical-align:baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}
[type='search']{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
summary{
  display:list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre{
  margin:0;
}
fieldset{
  margin:0;
  padding:0;
}
legend{
  padding:0;
}
ol,
ul,
menu{
  list-style:none;
  margin:0;
  padding:0;
}
dialog{
  padding:0;
}
textarea{
  resize:vertical;
}
input::-moz-placeholder, textarea::-moz-placeholder{
  opacity:1;
  color:#9ca3af;
}
input::placeholder,
textarea::placeholder{
  opacity:1;
  color:#9ca3af;
}
button,
[role="button"]{
  cursor:pointer;
}
:disabled{
  cursor:default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object{
  display:block;
  vertical-align:middle;
}
img,
video{
  max-width:100%;
  height:auto;
}
[hidden]{
  display:none;
}
html{text-decoration-line:none;}
h1,
 h2,
 h3,
 h4,
 h5,
 h6{text-decoration-line:none;}
a,
 button{text-decoration-line:none;}
input{font-family:Poppins, sans-serif;font-family:var(--font-family-primary);}
.rel{position:relative;left:0px;top:0px;}
svg,
  svg symbol,
  svg g,
  svg path{fill:currentColor;}
.nowrap{white-space:nowrap;}
*, ::before, ::after{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-ring-offset-shadow:0 0 rgba(0,0,0,0);--tw-ring-shadow:0 0 rgba(0,0,0,0);--tw-shadow:0 0 rgba(0,0,0,0);--tw-shadow-colored:0 0 rgba(0,0,0,0);}
::backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x:;--tw-pan-y:;--tw-pinch-zoom:;--tw-scroll-snap-strictness:proximity;--tw-gradient-from-position:;--tw-gradient-via-position:;--tw-gradient-to-position:;--tw-ordinal:;--tw-slashed-zero:;--tw-numeric-figure:;--tw-numeric-spacing:;--tw-numeric-fraction:;--tw-ring-inset:;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(147, 197, 253, 0.5);--tw-ring-offset-shadow:0 0 rgba(0,0,0,0);--tw-ring-shadow:0 0 rgba(0,0,0,0);--tw-shadow:0 0 rgba(0,0,0,0);--tw-shadow-colored:0 0 rgba(0,0,0,0);--tw-blur:;--tw-brightness:;--tw-contrast:;--tw-grayscale:;--tw-hue-rotate:;--tw-invert:;--tw-saturate:;--tw-sepia:;--tw-drop-shadow:;--tw-backdrop-blur:;--tw-backdrop-brightness:;--tw-backdrop-contrast:;--tw-backdrop-grayscale:;--tw-backdrop-hue-rotate:;--tw-backdrop-invert:;--tw-backdrop-opacity:;--tw-backdrop-saturate:;--tw-backdrop-sepia:;--tw-contain-size:;--tw-contain-layout:;--tw-contain-paint:;--tw-contain-style:;}
.mb-\[1\.1rem\]{margin-bottom:1.1rem;}
.mb-\[1\.4rem\]{margin-bottom:1.4rem;}
.mb-\[3\.8rem\]{margin-bottom:3.8rem;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.hidden{display:none;}
.w-\[42\.735\%\]{width:42.735%;}
.w-\[57\.265\%\]{width:57.265%;}
.w-full{width:100%;}
.max-w-\[48\.3rem\]{max-width:48.3rem;}
.grow{flex-grow:1;}
.items-center{align-items:center;}
.justify-between{justify-content:space-between;}
.whitespace-nowrap{white-space:nowrap;}
.bg-red-500\/40{background-color:rgba(239, 68, 68, 0.4);background-color:rgba(239, 68, 68, var(--opacity-40));}
.bg-red-500\/70{background-color:rgba(239, 68, 68, 0.7);background-color:rgba(239, 68, 68, var(--opacity-70));}
.pb-\[4rem\]{padding-bottom:4rem;}
.opacity-100{opacity:1;opacity:var(--opacity-100);}
.shadow{--tw-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);box-shadow:0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);box-shadow:var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);}
:root{font-family:Poppins, sans-serif;font-family:var(--font-family-primary);font-size:62.5%;font-size:var(--font-size-62-5p);}
html,
body{--tw-bg-opacity:1;background-color:rgba(0, 4, 14, 1);background-color:rgba(0, 4, 14, var(--tw-bg-opacity));font-weight:400;font-weight:var(--font-weight-400);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
a{font-weight:400;font-weight:var(--font-weight-400);color:rgba(255, 255, 255, 0.7);color:rgba(255, 255, 255, var(--opacity-70));}
.wrapper{margin-left:auto;margin-right:auto;max-width:120.2rem;max-width:var(--max-width-xl);}
.fix{margin-left:auto;margin-right:auto;max-width:120.2rem;max-width:var(--max-width-xl);padding-left:1.6rem;padding-right:1.6rem;}
.main-header{padding-bottom:3rem;padding-top:3.2rem;}
.main-header__fix{display:flex;min-height:3.2rem;align-items:center;justify-content:space-between;}
.logo{display:inline-block;}
.list-links{display:flex;-moz-column-gap:3.1rem;column-gap:3.1rem;}
.link{display:inline-block;white-space:nowrap;font-size:1.6rem;line-height:2.4rem;}
.link:hover{color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--opacity-100));}
.btn-primary{position:relative;left:0px;top:0px;z-index:1;display:inline-block;min-height:6.4rem;min-width:17rem;overflow:hidden;border-radius:10px;background-image:linear-gradient(180deg, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);background-image:var(--background-image-grad-aqua-l-100);--tw-text-opacity:1;color:rgba(0, 4, 14, 1);color:rgba(0, 4, 14, var(--tw-text-opacity));font-size:1.8rem;font-weight:500;font-weight:var(--font-weight-500);}
.btn-primary::after{position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:-1;--tw-bg-opacity:1;background-color:rgba(0, 246, 255, 1);background-color:rgba(0, 246, 255, var(--tw-bg-opacity));opacity:0;opacity:var(--opacity-0);--tw-content:"";content:"";content:var(--tw-content);}
.btn-primary:hover::after{content:var(--tw-content);opacity:1;opacity:var(--opacity-100);}
.btn-primary--outline{border-width:2px;border-color:solid;--tw-text-opacity:1;color:rgba(0, 246, 255, 1);color:rgba(0, 246, 255, var(--tw-text-opacity));}
.btn-primary--outline:hover{--tw-text-opacity:1;color:rgba(0, 0, 0, 1);color:rgba(0, 0, 0, var(--tw-text-opacity));}
.btn-primary--outline{background-image:none;background-image:var(--background-image-none);}
.btn-round{aspect-ratio:1 / 1;width:14rem;align-items:center;justify-content:center;border-radius:50%;border-width:0.2rem;border-style:solid;--tw-border-opacity:1;border-color:rgba(0, 246, 255, 1);border-color:rgba(0, 246, 255, var(--tw-border-opacity));background-image:none;background-image:var(--background-image-none);font-size:1.8rem;font-weight:500;--tw-text-opacity:1;color:rgba(0, 246, 255, 1);color:rgba(0, 246, 255, var(--tw-text-opacity));}
.btn-round__label{display:inline-block;text-align:left;}
.present__fix{padding-bottom:1.2rem;padding-bottom:var(--spacing-12);padding-top:7.8rem;}
.present__left{max-width:64.7rem;}
.badge{background-image:linear-gradient(135deg, rgba(39, 39, 39, 0.5) 0%, rgba(17, 16, 29, 0.5) 100%);background-image:var(--background-image-grad-gray-l-100);display:inline-flex;min-height:4rem;-moz-column-gap:1.5rem;column-gap:1.5rem;border-radius:10px;padding-left:1.3rem;padding-right:1.3rem;padding-top:0.4rem;padding-bottom:0.4rem;}
.badge__label{display:inline-flex;-moz-column-gap:0.5rem;column-gap:0.5rem;}
.icon-group{position:relative;left:0px;top:0px;display:block;height:2.8rem;width:2.7rem;}
.icon-group__symbol{left:0px;top:0px;z-index:2;position:absolute;left:50%;top:50%;display:block;--tw-translate-x:-50%;--tw-translate-y:-50%;transform:translate(-50%, -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));--tw-text-opacity:1;color:rgba(0, 246, 255, 1);color:rgba(0, 246, 255, var(--tw-text-opacity));}
.icon-group__bg{left:0px;top:0px;z-index:0;z-index:var(--z-index-0);position:absolute;left:50%;top:50%;display:block;--tw-translate-x:-50%;--tw-translate-y:-50%;transform:translate(-50%, -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));--tw-text-opacity:1;color:rgba(63, 62, 69, 1);color:rgba(63, 62, 69, var(--tw-text-opacity));}
h1{font-size:7.2rem;font-size:var(--font-size-720);font-weight:600;font-weight:var(--font-weight-600);line-height:10.1rem;line-height:var(--line-height-1010);--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
h1{margin-top:0px;margin-bottom:0px;}
h2{font-size:4.8rem;font-weight:700;font-weight:var(--font-weight-700);line-height:7.7rem;--tw-text-opacity:1;color:rgba(255, 255, 255, 1);color:rgba(255, 255, 255, var(--tw-text-opacity));}
.text-select-v1{background-clip:text;background-image:radial-gradient(64.33% 64.33% at 71.16% 35.69%, rgb(222, 249, 250) 0.8877529762685299%, rgb(190, 243, 245) 17.229999601840973%, rgb(157, 237, 240) 42.03999936580658%, rgb(125, 231, 235) 55.11999726295471%, rgb(92, 225, 230) 71.5399980545044%, rgb(51, 187, 207) 100%);background-image:var(--background-image-grad-aqua-r-100);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;}
.start__fix{padding-top:8rem;padding-bottom:8rem;}
.box--start{position:relative;left:0px;top:0px;z-index:10;z-index:var(--z-index-10);display:flex;min-height:29.3rem;width:100%;align-items:center;justify-content:space-between;overflow:hidden;border-radius:20px;}
.box--start{padding-left:9.9rem;padding-right:9.9rem;padding-top:7.6rem;padding-bottom:7.6rem;}
.box--start::after{position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:calc(10 * -1);z-index:calc(var(--z-index-10) * -1);background-image:linear-gradient(154deg, rgba(255, 255, 255, 0.2) 0%, #14101d 100%);background-image:var(--background-image-grad-gray-l-200);--tw-content:"";content:"";content:var(--tw-content);}
.descr-v1--start{max-width:46.837rem;}
.testimonials__fix{padding-top:8rem;padding-bottom:8rem;}
.section-title--testimonials{max-width:58rem;}
.descr-v1--testimonials{max-width:42.028rem;}
@media (max-width: 73.125rem){
 .page-title{font-size:6rem;font-size:var(--font-size-600);line-height:9.0rem;line-height:var(--line-height-900);}
 .section-title{font-size:3.9rem;line-height:1;}
 .segment-v2{font-size:2rem;}
 .segment-v3{font-size:1.8rem;}
 .descr-v1{font-size:1.4rem;line-height:2.1rem;}
 .descr-v2{font-size:1.4rem;line-height:2.1rem;}
 .r-btn-label{font-size:1.4rem;}
 .btn-label{font-size:1.2rem;}
 .fix{max-width:99.2rem;max-width:var(--max-width-lg);}
 .btn-primary{font-size:1.2rem;}
 .btn-primary{min-height:5.2rem;min-width:14rem;border-radius:8px;padding-left:1.7rem;padding-right:1.7rem;padding-top:0.4rem;padding-top:var(--spacing-4);padding-bottom:0.4rem;padding-bottom:var(--spacing-4);}
 .btn-round{width:11.4rem;font-size:1.4rem;}
 .present__fix{padding-top:3.5rem;}
 .present__left{max-width:55.5rem;}
 h1{font-size:6rem;font-size:var(--font-size-600);line-height:9.0rem;line-height:var(--line-height-900);}
 h2{font-size:3.9rem;line-height:1;}
 .start__fix{padding-top:4rem;padding-bottom:4rem;}
 .box--start{padding-left:6rem;padding-right:6rem;padding-bottom:5rem;padding-top:6rem;}
 .box--start{min-height:20.1rem;}
 .section-title--start{padding-bottom:1.1rem;}
 .testimonials__fix{padding-top:8.1rem;}
 .section-title--testimonials{line-height:1.5;}
 .xl\:pt-\[0\.6rem\]{padding-top:0.6rem;}
 .sm\:xl\:pt-\[0\]{padding-top:0;}
 .sm\:xl\:pt-\[0\]{padding-top:0;}}
@media (max-width: 60rem){
 .page-title{font-size:4.7rem;font-size:var(--font-size-470);line-height:7.1rem;line-height:var(--line-height-710);}
 .section-title{font-size:3rem;line-height:1;}
 .segment-v1{font-size:4.089rem;}
 .r-btn-label{font-size:1.1rem;}
 .btn-label{font-size:1.2rem;}
 .fix{max-width:76.8rem;max-width:var(--max-width-md);}
 .main-header__fix{flex-direction:column;}
 .logo{padding-bottom:2.1rem;}
 .main-nav{display:none;}
 .btn-primary{font-size:1.2rem;}
 .btn-primary{min-height:4.6rem;min-width:12.4rem;padding-left:1.7rem;padding-right:1.7rem;padding-top:0.625rem;padding-bottom:0.625rem;}
 .btn-round{width:8.8rem;font-size:1.1rem;}
 .present__left{max-width:42.6rem;}
 h1{font-size:4.7rem;font-size:var(--font-size-470);line-height:7.1rem;line-height:var(--line-height-710);}
 h2{font-size:3rem;line-height:1;}
 .box--start{padding-left:5.9rem;padding-right:5.9rem;padding-top:6rem;padding-bottom:5rem;}
 .box--start{min-height:18.7rem;}
 .section-title--start{padding-bottom:0.6rem;}
 .lg\:block{display:block;}}
@media (max-width: 46rem){
 .page-title{font-size:2.4rem;line-height:3.6rem;}
 .page-title{margin-left:auto;margin-right:auto;max-width:24.44rem;text-align:center;}
 .section-title{font-size:2.4rem;line-height:1.3;}
 .segment-v3{font-size:1.6rem;}
 .r-btn-label{font-size:1rem;}
 .fix{max-width:32rem;max-width:var(--max-width-sm);}
 .main-header{padding-top:1.7rem;}
 .btn-round{width:6.9rem;font-size:1rem;}
 .present__left{width:100%;}
 h1{font-size:2.4rem;line-height:3.6rem;}
 h1{margin-left:auto;margin-right:auto;max-width:24.44rem;text-align:center;}
 h2{font-size:2.4rem;line-height:1.3;}
 .box--start{flex-direction:column;}
 .box--start{padding-left:2.4rem;padding-right:2.4rem;padding-top:2rem;padding-bottom:2rem;}
 .box--start{min-height:26.6rem;}
 .section-title--start{margin-left:auto;margin-right:auto;margin-top:2px;max-width:200px;text-align:center;line-height:1.4;}
 .descr-v1--start{max-width:24.8rem;padding-top:1.0rem;text-align:center;}
 .md\:block{display:block;}}
@media (max-width: 18rem){
 @media (max-width: 73.125rem){
  .sm\:xl\:pt-\[0\]{padding-top:0;}}}
