@import url("./base/base.css");
@import url("./base/root.css");
@import url("./base/fonts.css");
@import url("./components/button.css");
@import url("./components/typography.css");
@import url("./components/scroll.css");
@import url("./components/ic.css");
@import url("./components/logos.css");
@import url("./components/burger.css");
@import url("./components/badge.css");
@import url("./components/stamp.css");
@import url("./components/menu.css");
@import url("./components/descr.css");
@import url("./components/logo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

$xl: $mq.xl;
$lg: $mq.lg;
$md: $mq.md;
$sm: $mq.sm;

:root {
 @apply font-primary
								text-62-5p;
}

html,
body {
 @apply bg-gray-800
								font-400
								text-white;
}

a {
 @apply font-400
								text-white/70;
}

.wrapper {
 @apply mx-auto
								max-w-xl;
}

.fix {
 @apply mx-auto
								max-w-xl
								px-[1.6rem];

 @apply xl:max-w-lg;
 @apply lg:max-w-md;
 @apply md:max-w-sm;
}

.main-header {
 @apply pb-[3rem]
								pt-[3.2rem];

 @apply md:pt-[1.7rem];

 &__fix {
  @apply flex
									min-h-[3.2rem]
									items-center
									justify-between;

  @apply lg:flex-col;
 }
}

.logo {
 @apply inline-block;
 @apply lg:pb-[2.1rem];
}

.main-nav {
 @apply lg:hidden;
}

.list-links {
 @apply flex
								gap-x-[3.1rem];
}

.link {
 @apply link-v1
								inline-block
								whitespace-nowrap;

 @apply hover:text-white/100;
}

.btn-primary {
 @apply btn-label
								rel
								z-[1]
								inline-block
								min-h-[6.4rem]
								min-w-[17rem]
								overflow-hidden
								rounded-[10px]
								bg-grad-aqua-l-100
								text-gray-800;

 @apply xl:min-h-[5.2rem]
								xl:min-w-[14rem]
								xl:rounded-[8px]
								xl:px-[1.7rem]
								xl:py-4;

 @apply lg:min-h-[4.6rem]
								lg:min-w-[12.4rem]
								lg:px-[1.7rem]
								lg:py-2.5;

 @apply after:absolute
								after:inset-0
								after:z-[-1]
								after:bg-aqua-500
								after:opacity-0
								after:content-[""];

 @apply hover:after:opacity-100;

 &--outline {
  @apply border-[2px]
									border-[solid]
									text-[#00f6ff]
									hover:text-black;

  @apply bg-none;
 }
}

.btn-round {
 @apply aspect-square
								w-56
								items-center
								justify-center
								rounded-[50%]
								border-[0.2rem]
								border-solid
								border-aqua-500
								bg-none
								text-[1.8rem]
								font-medium
								text-aqua-500;

 @apply xl:w-[11.4rem]
								xl:text-[1.4rem];

 @apply lg:w-[8.8rem]
								lg:text-[1.1rem];

 @apply md:w-[6.9rem]
								md:text-[1rem];

 &__label {
  @apply inline-block
									text-left;
 }
}
