@import url("./base/base.css");
@import url("./base/root.css");
@import url("./base/fonts.css");
@import url("./components/fix.css");
@import url("./components/tab-icon.css");
@import url("./components/button.css");
@import url("./components/typography.css");
@import url("./components/scroll.css");
@import url("./components/ic.css");
@import url("./components/logos.css");
@import url("./components/burger.css");
@import url("./components/badge.css");
@import url("./components/stamp.css");
@import url("./components/menu.css");
@import url("./components/logo.css");
@import url("./components/screens.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

$xl: $mq.xl;
$lg: $mq.lg;
$md: $mq.md;
$sm: $mq.sm;

body {
 ::-moz-selection {
  @apply bg-aqua-600/20
									text-aqua-600;
 }

 ::selection {
  @apply bg-aqua-600/20
									text-aqua-600;
 }
}

:root {
 @apply font-primary
								text-62-5p
								font-400
								tracking-normal
								text-white;
}

html,
body {
 @apply bg-gray-800
								font-400;
}

a {
 @apply font-400
								text-white/70;
}

.main-header {
 &__fix {
  @apply relative
									left-0
									top-0
									flex
									items-center
									justify-between
									py-[3.09rem];

  @apply lg:flex-col;
 }
}

.main-nav {
 @apply md:hidden;
}

.list-links {
 @apply flex
								gap-x-[3.1rem];

 @apply lg:whitespace-nowrap
								lg:pt-[2.5rem];

 .active {
  @apply text-white/100;
 }
}

.btn-hover {
 @apply duration-[0.15s,0.15s]
								ease-[linear,linear]
								will-change-[transform,box-shadow];

 @apply hover:scale-[0.94]
							 hover:shadow-aqua-100;

 @apply hover:scale-[0.94]
							 hover:shadow-aqua-100;
}

.btn {
 @apply text-gray-800;

 &--primary {
  background: svg-load("../../assets/svg/gradient-btn.svg");
  @apply btn-hover;
 }

 &--size-xl {
  @apply min-h-[6.4rem]
									min-w-[17rem]
									rounded-[10px]
									px-[3.3rem]
									py-[1.8rem];

  @apply xl:min-h-[5.2rem]
									xl:min-w-[14rem]
									xl:rounded-[8px]
									xl:px-[1.7rem]
									xl:py-[1rem];

  @apply lg:min-h-[4.6rem]
									lg:min-w-[12.4rem]
									lg:px-[1.7rem]
									lg:py-[1rem];

  @apply md:min-h-[4.2rem]
									md:min-w-[10.9rem]
									md:px-8
									md:py-[1.2rem];
 }
}

.btn-unique {
 @apply relative
								left-0
								top-0
								z-[1]
								flex
								h-[14rem]
								w-[14rem]
								items-center
								rounded-[50%]
								bg-grad-aqua-r-100
								px-[3.4rem]
								text-left;

 @apply xl:h-[11.5rem]
								xl:w-[11.4rem]
								xl:px-[2.4rem];

 @apply lg:h-[8.8rem]
								lg:w-[8.8rem]
								lg:px-[1.4rem];

 @apply md:h-[6.8rem]
								md:w-[6.9rem]
								md:px-[0.4rem];

 @apply after:absolute
								after:inset-[2px]
								after:z-[-2]
								after:rounded-[inherit]
								after:bg-gray-800
								after:content-[""];

 @apply before:absolute
								before:inset-0
								before:z-[-1]
								before:rounded-[inherit]
								before:bg-grad-aqua-r-100
								before:opacity-0

								before:transition-opacity
								before:delay-[0.05s]
								before:ease-linear

								before:will-change-[opacity]
								before:content-[""];

 @apply hover:before:opacity-100;

 @apply btn-hover;

 &__label {
  @apply bg-grad-aqua-r-100;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
}

.tag {
 @apply caption-v2
								inline-flex
								items-center
								gap-x-[15px]
								rounded-[10px]
								px-[1.3rem]
								py-[0.9rem]
								text-white;

 background: svg-load("../../assets/svg/gradient-tag.svg");
}

.badge {
 @apply relative
								left-0
								top-0
								inline-block
								h-[2.8rem]
								w-[2.7rem];

 &__symbol {
  @apply layer-center
									z-[2]
							text-aqua-500;
 }

 &__bg {
  @apply layer-center
									z-[1]
									text-gray-600;
 }
}

.get-started {
 &__fix {
  @apply py-[8rem];

  @apply xl:py-[4rem];
 }

 &__info {
  @apply md:pb-[2rem]
									md:text-center;
 }

 &__info-descr {
  @apply max-w-[46.837rem]
									pt-[0.4rem];
 }
}

.box {
 &--start {
  @apply relative
									left-0
									top-0
									z-[10]
									flex
									min-h-[29.8rem]
									items-center
									justify-between
									rounded-[20px]
									px-[9.9rem]
									py-[7.6rem];

  @apply md:flex-col;

  @apply xl:min-h-[21rem]
									xl:pb-[5rem]
									xl:pl-[6rem]
									xl:pr-[6rem]
									xl:pt-[4rem];

  @apply lg:min-h-[19.8rem]
									lg:px-[6rem]
									lg:pb-[5rem]
									lg:pt-[4rem];

  @apply md:min-h-[32.7rem]
									md:px-[2rem]
									md:py-[4rem];

  &:after {
   @apply absolute
										inset-0
										z-[-1]
										rounded-[inherit]
										content-[""];

   background: svg-load("../../assets/svg/gradient-start.svg");
  }
 }

 &--testimonials {
  @apply relative
									left-0
									top-0
									z-[1]
									block
									w-full
									max-w-[37.8rem]
									rounded-[20px];

  @apply px-[4rem]
									py-[59px];

  @apply xl:px-[4rem]
									xl:py-[59px];

  @apply lg:px-[2rem]
									lg:py-[4remn];

  @apply md:px-[2.5rem]
									md:py-[4rem];

  &:after {
   @apply absolute
										inset-0
										z-[-1]
										rounded-[inherit]
										content-[""];

   background: svg-load("../../assets/svg/gradient-testimonial.svg");
  }
 }
}

.testimonials {
 &__fix {
  @apply py-[8rem];
  @apply xl:py-[5rem];
  @apply md:py-[3rem];
 }

 &__head {
  @apply mb-[32px]
									flex
									items-center
									justify-between;

  @apply lg:flex-col
									lg:items-start
									lg:pt-[1rem]
									lg:text-center;

  @apply md:pt-[1rem];
 }

 &__title {
  @apply max-w-[58rem];

  @apply xl:max-w-[47.1rem];

  @apply lg:mx-auto
									lg:max-w-[36.3rem]
									lg:pb-[1rem];

  @apply md:max-w-full
									md:pb-[1.9rem];
 }

 &__descr {
  @apply max-w-[42.028rem]
									lg:mx-auto;
 }
}

.boxes {
 @apply flex
								gap-x-[18px];

 @apply xl:gap-x-[12px];

 @apply lg:gap-x-[8px];

 @apply md:flex-col
								md:gap-x-[0]
								md:gap-y-[12px];
}

.ic-quote {
 @apply text-aqua-500;
}

.person {
 @apply flex
								shrink-0
								grow
								items-start
								gap-x-[1.7rem];

 &__img {
  @apply w-full
									max-w-[4.8rem]
									shrink-0
									grow
									overflow-hidden
									rounded-[50%];
 }

 &__info {
  @apply pt-[0.3rem];
 }
}
