@import url("./base/base.css");
@import url("./base/root.css");
@import url("./base/fonts.css");
@import url("./components/typography.css");

@import url("./components/text-gradient.css");

@import url("./components/selection.css");
@import url("./components/scroll.css");
@import url("./components/ic.css");

@import url("./components/fix.css");
@import url("./components/tab-icon.css");
@import url("./components/btn-hover.css");
@import url("./components/btn.css");
@import url("./components/btn-unique.css");

@import url("./components/tag.css");
@import url("./components/person.css");
@import url("./components/boxes.css");
@import url("./components/box.css");

@import url("./components/logos.css");
@import url("./components/burger.css");
@import url("./components/badge.css");
@import url("./components/stamp.css");
@import url("./components/menu.css");
@import url("./components/logo.css");
@import url("./components/screens.css");

@import url("./components/main-header.css");
@import url("./components/testimonials.css");
@import url("./components/list-links.css");
@import url("./components/get-started.css");
@import url("./components/nav-menu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

$xl: $mq.xl;
$lg: $mq.lg;
$md: $mq.md;
$sm: $mq.sm;

:root {
 @apply font-primary
								text-62-5p
								font-400
								tracking-normal
								text-white;
}

html,
body {
 @apply bg-gray-800
								font-400;
}

a {
 @apply font-400
								text-white/70;
}

.counter {
 &__fix {
  @apply py-[3rem];
 }

 &__list {
  @apply mx-auto
									my-0
									flex
									w-full
									flex-wrap
									items-center
									justify-between;

  @apply xl:max-w-full
									xl:justify-center
									xl:gap-x-[8.9rem]
									xl:gap-y-[1rem];

  @apply md:max-w-full
									md:gap-x-0
									md:gap-y-0;
 }

 &__item {
  @apply flex
									items-center
									gap-x-[2.5rem];

  @apply md:flex-col
									md:gap-x-0
									md:pb-[3.1rem];
 }

 &__div {
  @apply h-[1.3rem]
									w-0
									border
									border-solid
									border-white/60;

  @apply xl:hidden;
 }

 &__caption {
  @apply text-gradient
									whitespace-nowrap;
 }
}
