<!--
   <div class="badge">
    <span class="icon-group">
     <svg class="icon-group__symbol" width="9.19" height="9.19">
      <use xlink:href="<%= svg %>/sprite-ic.svg#ic-percent" />
     </svg>
     <svg class="icon-group__bg" width="26.67" height="26.68">
      <use xlink:href="<%= svg %>/sprite-ic.svg#ic-shape-stamp" />
     </svg>
    </span>
    <span class="badge__label">
     <span class="descr-v1 opacity-100">20%</span>
     <span class="descr-v1 inline-block">DISCOUNT FOR</span>
     <span class="descr-v1 opacity-100">1 MONTH</span>
     <span class="descr-v1">ACCOUNT</span>
    </span>
   </div>
		-->

<!-- 			<button class="btn-primary">Get Started</button>
			<button class="btn-round">
				<span class="btn-round__label">Get Started</span>
			</button> -->

<!--  -->
<!--    <section class="present s2">
    <div class="fix present__fix">




				</div>
   </section> -->
<!-- / -->
