<!-- prettier-ignore -->
<%
const {
  in: { assets, pic, img, svg },
  out: { styles }
} = paths;

const {
  sections: {
				copyright,
				handleMoney,
				billingControl,
				testimonials,
				getStarted,
				counter,
				partners,
				cardDeal,
    header,
    present,
    about,
    services,
    team,
    contacts,
    prices,
    footer,
    misc
  },
  menu
} = data;

const headData = { appName, appThemeColor, appTitleColor,
																			appMaskIcon, assets, pic, img, svg, styles }
%>
<!doctype html>
<html lang="en" translate="no" class="notranslate">
 <%- include("view-tmpl/head.html", headData); %>
 <body>
  <noscript><%=misc.nojs %></noscript>

  <!-- prettier-ignore -->
  <div class="wrapper">
			<%- include("view-tmpl/header.html",                { svg, menu }); %>
   <%- include("view-tmpl/partners.html",              { partners, svg }); %>
   <%- include("view-tmpl/testimonials.html",          { testimonials, svg, img }); %>
   <%- include("view-tmpl/counter.html",               { counter }); %>
   <%- include("view-tmpl/get-started.html",           { getStarted }); %>
   <%- include("view-tmpl/card-deal.html",             { cardDeal, svg, img }); %>
   <%- include("view-tmpl/billing-control.html",       { billingControl, svg, img }); %>
   <%- include("view-tmpl/handle-money.html",          { handleMoney, svg, img }); %>
   <%- include("view-tmpl/copyright.html",             { copyright, svg, img }); %>
  </div>
 </body>
</html>
