<!-- prettier-ignore -->
<%
const {
  in: { assets, pic, img, svg },
  out: { styles }
} = paths;

const {
  sections: {
    header,
    present,
    about,
    services,
    team,
    contacts,
    prices,
    footer,
    misc
  },
  menu
} = data;

const headData = { appName, appThemeColor, appTitleColor,
																			appMaskIcon, assets, pic, img, svg, styles }
%>
<!doctype html>
<html lang="en" translate="no" class="notranslate">
 <%- include("view-tmpl/head.html", headData); %>
 <body>
  <noscript><%=misc.nojs %></noscript>
  <div class="wrapper">
   <!--  -->
   <header class="main-header s1">
    <!-- prettier-ignore -->
    <div class="fix main-header__fix">
      <%- include("view-tmpl/components/logo.html", { svg, size: 118 }); %>
      <%- include("view-tmpl/components/menu.html", { menu }); %>
      <%- include("view-tmpl/components/burger.html"); %>
    </div>
   </header>

   <section class="testimonials s7">
    <div class="fix testimonials__fix">
     <div class="testimonials__head">
      <h2 class="testimonials__title">
       You do the business, we’ll handle the money.
      </h2>
      <p class="descr-v1 testimonials__descr">
       Everything you need to accept card payments and grow your business
       anywhere on the planet.
      </p>
     </div>

     <div class="boxes">
      <div class="box box--testimonials">
       <svg class="ic-quote mb-[4.1rem]" width="42.6" height="27.6">
        <use xlink:href="<%= svg %>/sprite-ic.svg#ic-quote" />
       </svg>
       <p class="descr-v1 mb-[2.4rem]">
        Money is only a tool. It will take you wherever you wish, but it will
        not replace you as the driver.
       </p>

       <div class="person">
        <img
         src="<%=img %>/person-1.png"
         alt=""
         width="48"
         height="48"
         class="person__img"
        />
        <div class="person__info">
         <p class="caption-v2">Herman Jensen</p>
         <p class="descr-v1">Founder & Leader</p>
        </div>
       </div>
      </div>
      <div class="box box--testimonials">
       <svg class="ic-quote mb-[4.1rem]" width="42.6" height="27.6">
        <use xlink:href="<%= svg %>/sprite-ic.svg#ic-quote" />
       </svg>
       <p class="descr-v1 mb-[2.4rem]">
        Money is only a tool. It will take you wherever you wish, but it will
        not replace you as the driver.
       </p>
       <div class="person">
        <img
         src="<%=img %>/person-2.png"
         alt=""
         width="48"
         height="48"
         class="person__img"
        />
        <div class="person__info">
         <p class="caption-v2">Steve Mark</p>
         <p class="descr-v1">Founder & Leader</p>
        </div>
       </div>
      </div>
      <div class="box box--testimonials">
       <svg class="ic-quote mb-[4.1rem]" width="42.6" height="27.6">
        <use xlink:href="<%= svg %>/sprite-ic.svg#ic-quote" />
       </svg>

       <p class="descr-v1 mb-[2.4rem]">
        Money is only a tool. It will take you wherever you wish, but it will
        not replace you as the driver.
       </p>

       <div class="person">
        <img
         src="<%=img %>/person-3.png"
         alt=""
         width="48"
         height="48"
         class="person__img"
        />
        <div class="person__info">
         <p class="caption-v2">Kenn Gallagher</p>
         <p class="descr-v1">Founder & Leader</p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>

   <section class="get-started s9">
    <div class="fix get-started__fix">
     <div class="box box--start">
      <div class="get-started__info">
       <h2>Let’s try our service now!</h2>
       <p class="descr-v1 get-started__info-descr">
        Everything you need to accept card payments and grow your business
        anywhere on the planet.
       </p>
      </div>
      <button class="btn btn--primary btn--size-xl">Get Started</button>
     </div>
    </div>
   </section>

   <div class="tag whitespace-nowrap">
    <span class="badge">
     <svg class="badge__symbol" width="9.19" height="9.19">
      <use xlink:href="<%= svg %>/sprite-ic.svg#ic-percent" />
     </svg>
     <svg class="badge__bg" width="26.67" height="26.68">
      <use xlink:href="<%= svg %>/sprite-ic.svg#ic-shape-stamp" />
     </svg>
    </span>

    <span class="tag__label">
     20%
     <span class="opacity-70">DISCOUNT FOR</span>
     <span class="hidden lg:block w-full"></span>
     1 MONTH
     <span class="opacity-70">ACCOUNT</span>
    </span>
   </div>

   <button class="btn btn--primary btn--size-xl">Get Started</button>

   <button class="btn-unique">
    <span class="btn-unique__label">Get Started</span>
   </button>

   <h1>The Next Generation Payment Method.</h1>
   <h2>You do the business, we’ll handle themoney.</h2>
   <h3>3800</h3>
   <h4>Rewards</h4>
   <p class="caption-v1">TRUSTED BY COMPANY</p>
   <p class="caption-v2">20% DISCOUNT FOR1 MONTH ACCOUNT</p>

   <p class="descr-v1">
    Our team of experts uses a methodology to identify the credit cards most
    likely to fit your needs. We examine annual percentage rates, annual fees.
   </p>

   <p class="descr-v2">
    We take proactive steps make sure your information and transactions are
    secure.
   </p>
  </div>

  <div style="height: 4000px"></div>

  <!-- <script type="module" src="index.tsx"></script> -->
 </body>
</html>
